.about-content
{
    background-color: "transparent";
    width: 100%;
    text-align: center;
    position: fixed;
    top: 15%;
    left: 0%;
    font-size: 40px;
    font-family: 'Satoshi', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-weight: 100;
    color: ivory;

}

.ant-col {
    padding: 16px;
    background: #e6f7ff;
    border: 1px solid #91d5ff;
    text-align: center;
}

.ant-layout {
    margin-bottom: 48px;
}