.content
{
    background-color: "transparent";
    width: 100%;
    text-align: center;
    position: fixed;
    top: 15%;
    left: 0%;
    font-size: 40px;
    font-family: 'Satoshi', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-weight: 100;
    color: ivory;
    z-index: 100;

}
.title
{
    font-size: 40px;
    font-family: 'Pp-eiko', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-weight: 100;
}