/* Create a new file: src/style/fonts.css */

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi/Satoshi-Regular.woff2') format('woff2'),
         url('/fonts/Satoshi/Satoshi-Regular.woff') format('woff'),
         url('/fonts/Satoshi/Satoshi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi/Satoshi-Medium.woff2') format('woff2'),
         url('/fonts/Satoshi/Satoshi-Medium.woff') format('woff'),
         url('/fonts/Satoshi/Satoshi-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: medium;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi/Satoshi-Bold.woff2') format('woff2'),
         url('/fonts/Satoshi/Satoshi-Bold.woff') format('woff'),
         url('/fonts/Satoshi/Satoshi-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'PP Eiko';
    src: url('/fonts/PP-Eiko/PPEiko-Heavy.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
     font-family: 'PP Eiko';
     src: url('/fonts/PP-Eiko/PPEiko-Medium.otf') format('opentype');
     font-weight: 500;
     font-style: normal;
     font-display: swap;
   }

   @font-face {
     font-family: 'PP Eiko';
     src: url('/fonts/PP-Eiko/PPEiko-Light.otf') format('opentype');
     font-weight: 300;
     font-style: normal;
     font-display: swap;
   }