ul { list-style-type: none; }
li { margin: 0; padding: 0; }


.page-container
{
    background-color: #1a1a1a;
    text-align: center;
    display: block;
    font-size: 20px;
    font-family: 'Satoshi', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-weight: 300;
    color: white;
    z-index: 100;
    
}

.r3f
{
    position: static;
    width: auto;
    z-index: 10;
    touch-action: none;
}